*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Oswald;
}

body {
	background: #5CDB95;
}

header {
	padding: 20px;
}

header > h1 {
	color: #EDF5E1;
	text-align: center;
	font-size: 60px;
}

.scoreboard {
	margin: 20px auto;
	border: 3px solid #05386B;
	width: 500px;
	text-align: center;
	color: #05386B;
	font-size: 40px;
	padding: 15px 20px;
	position: relative;
}

.badge {
	background: #379683;
	color: #EDF5E1;
	font-size: 20px;
}

#user-label {
	position: absolute;
	padding: 2px 10px;
	left: -20px;
}

#computer-label {
	position: absolute;
	padding: 2px 10px;
	right: -20px;
}

.result{
	color: #EDF5E1;
	font-size: 40px;
	text-align: center;
}

.choices{
	margin-bottom: 30px;
	text-align: center;
}

.choice{
	display: inline-block;
	background: #EDF5E1;
	border-radius: 50%;
	padding: 10px;
}

#action-message{
	text-align: center;
	font-size: 30px;
	color: #05386B;
	margin: 20px;
}

.greenglow{
	background: #3dEE6d;
	box-shadow: 0 0 10px #31b43A;
}

.redglow{
	background: #fc121b;
	box-shadow: 0 0 10px #d01115
}

.grayglow{
	background: #464647;
	box-shadow: 0 0 10px #25292b;
}